.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 768x) {
  .deskop-hidden {
    display: none;
  }
}

.deskop-hidden {
  height: 60px;
}

.menu-bars {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: white;
  border: none;
}

.menu-bars__span {
  width: 24px;
  height: 2.5px;
  margin: 1.5px;
  background-color: black;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
  z-index: 1;
  padding: 48px 40px;
}

.mobile-nav {
  height: 50%;
}

.mobile-nav__item {
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-nav__link {
  text-decoration: none;
  color: black;
}

.mobile-address__phone {
  font-size: 34px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-bottom: 32px;
}

.mobile-address__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-social__list {
  display: flex;
  flex-direction: row;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #2196f3;
  padding: 10px;
}

.mobile-social__link:not(:last-child) {
  border: 0.1px;
  border-right: rgba(33, 33, 33, 0.2);
  border-style: solid;
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.mobile-down {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

:root {
  --main-font: "Roboto", serif;
  --second-font: "Raleway", serif;
  --first-color: #212121;
  --second-color: #2196f3;
  --third-color: #757575;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
}

* ::after ::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: inherit;
}

ul {
  list-style: none;
}

svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
  display: flex;
  font-size: 26px;
  line-height: 136%;
  letter-spacing: 0.06em;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
  }
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}

h3 {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

h4 {
  color: black;
}

.container {
  max-width: 100vw;
  padding: 15px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    display: flex;
    padding: 0;
  }
}

.headline {
  display: flex;
  flex-direction: column;
}

.main {
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  white-space: pre-line;
  color: #ffffff;
  text-align: center;
  background: var(--background-color);
  height: 400px;
  background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .main {
    background-image: linear-gradient(to left top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background@2.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    max-width: 1600px;
    height: 600px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .no-mobile {
    display: none;
  }
}

.section {
  padding-top: 60px;
  justify-content: center;
}

.logo, .logo:hover, .logo:visited {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  color: var(--first-color);
  margin-bottom: 10px;
}

.logo__color {
  color: var(--second-color);
}

.logo__color:visited, .logo__color:hover {
  color: var(--second-color);
}

.logo__studio--footer {
  color: white;
}

.logo--footer {
  display: flex;
  justify-content: center;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

.btn--newsletter {
  display: flex;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .btn--newsletter {
    display: block;
    margin-left: 10px;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  transition: opacity;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 609px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 40px;
}

.modal-window {
  position: relative;
  width: 100%;
}

.modal__form {
  box-sizing: border-box;
  font-weight: bold;
  font-size: 20px;
}

.modal__label {
  font-size: 12px;
  font-weight: normal;
  width: 100%;
}

.modal__title {
  text-align: center;
}

.modal__input {
  padding: 12px 12px 12px 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  justify-items: center;
  margin: 5px;
}

.modal__input2, .modal__input2:focus, .modal__input2:focus-within {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;
}

.modal__input:hover, .modal__input:focus, .modal__comment:hover, .modal__comment:focus {
  border-color: var(--second-color);
  fill: var(--second-color);
  outline: var(--second-color);
}

.modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  resize: none;
  padding: 12px;
}

.modal-btn__div {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: calc(100% - 80px);
}

.user-policy {
  font-size: 12px;
  letter-spacing: 0.03rem;
  color: #757575;
  text-decoration: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.user-policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 8px;
}

.user-policy__checkbox {
  visibility: hidden;
}

.user-policy__checkbox:checked > .user-policy::before {
  background-color: var(--second-color);
  border: none;
  background-image: url(../../images/checked.svg);
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  padding: 4px;
  box-shadow: none;
}

.user-policy__link {
  color: var(--second-color);
  margin: 0 3px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 60px;
}

.newsletter__label {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsletter__input {
  height: 50px;
  width: 90vw;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 4px;
  color: white;
  margin: 10px;
}

.newsletter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .newsletter__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    margin-top: 0px;
    width: fit-content;
    margin-left: 60px;
  }
  .newsletter__input {
    width: 358px;
    display: flex;
    flex-direction: row;
  }
  .newsletter__label {
    display: unset;
    white-space: pre-line;
    flex-direction: unset;
  }
  .newsletter-div {
    display: flex;
    flex-direction: row;
  }
}

.icon {
  margin-right: 10px;
}

.icon--close_modal {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  position: absolute;
  margin: 0;
  top: -32px;
  right: 8px;
  fill: #000;
}

.icon--close_modal:hover {
  cursor: pointer;
}

.icon--newsletter {
  width: 24px;
  height: 24px;
}

.icon--close_mobile {
  position: absolute;
  top: 21px;
  right: 25px;
  fill: #2196F3;
}

.select {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.select__button {
  background-color: var(--second-background-color);
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 15px;
  font-weight: 500;
  border-radius: 4px;
  border-style: none;
}

.select__button:hover {
  background-color: var(--second-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

@media screen and (min-width: 1200px) {
  .select {
    justify-content: center;
  }
  .select__button {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 768px) {
  .select {
    justify-content: center;
  }
  .select__button {
    margin-bottom: 35px;
  }
}

.nav {
  border-bottom: 1px solid #ececec;
  height: 60px;
  display: flex;
  justify-content: left;
  position: relative;
}

.nav__list {
  display: none;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
  }
  .contacts {
    display: block;
    justify-content: left;
  }
  .contacts__item {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .deskop-hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    height: 80px;
  }
  .nav__list {
    width: 346px;
  }
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    justify-content: end;
    margin-left: 320px;
  }
  .contacts__item {
    padding-left: 25px;
    max-width: none;
  }
  .deskop-hidden {
    display: none;
  }
}

.nav__item {
  position: relative;
}

.nav__link,
.nav__link:visited,
.contacts__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.link__active {
  color: var(--second-color) !important;
  position: relative;
}

.nav__link,
.nav__link:visited {
  color: inherit;
}

.nav__link::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
}

.nav__link:hover::after {
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item {
  color: var(--third-color);
  fill: var(--third-color);
}

.nav__link:hover,
.contacts__item:hover {
  color: var(--second-color);
  fill: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -94px;
    list-style: none;
  }
  .feature__item {
    margin-top: 94px;
    margin-left: 15px;
    flex-basis: calc(100% / 2 - 30px);
    width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -94px;
    list-style: none;
  }
  .feature__item {
    margin-top: 94px;
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
  }
  .feature__box {
    width: 270px;
    margin-top: 0;
  }
}

.feature {
  justify-content: center;
  max-width: 100%;
  fill: #212121;
}

.feature__box {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  max-width: calc(100% - 30px);
}

.feature__description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

.team {
  background-color: var(--second-background-color);
}

.team__list {
  list-style: none;
}

.team__item {
  margin: 15px;
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: inline-flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.member {
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.member_jpg {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 460px;
}

.member__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17em;
  margin-bottom: 10px;
}

.member__about {
  box-sizing: border-box;
  text-align: center;
  padding: 30px 0 30px 0;
  display: inline-flexbox;
}

.member__description {
  color: var(--third-color);
}

.team-social {
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  padding: 16px 10px 0 10px;
}

.team-social__link {
  padding: 12px;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.team-social__link:hover, .team-social__link:focus {
  fill: #ffffff;
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .member_jpg {
    display: block;
    object-fit: cover;
    width: 270px;
    height: 260px;
  }
}

.job {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.job__item {
  margin-top: 94px;
  margin-left: 15px;
  flex-basis: calc(100% / 3 - 15px);
  position: relative;
  height: 294px;
  width: 370px;
}

.job__description {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: inherit;
  margin: 0 auto;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;
}

.client-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-img {
  box-sizing: border-box;
  height: 92px;
  width: calc(100vw / 2 - 47px);
  border-width: 1px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  fill: #afb1b8;
}

.client-img:hover, .client-img:focus {
  border-color: var(--second-color);
  fill: var(--second-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-svg {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .client-img {
    width: calc(100vw / 3 - 62px);
  }
}

@media screen and (min-width: 1200px) {
  .client-img {
    width: 170px;
  }
}

.ftr-social {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  flex-wrap: nowrap;
}

.ftr-social__link {
  margin-top: 20px;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: #ffffff;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.ftr-social__link:hover {
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-social__list {
  list-style: none;
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  display: inline-block;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.714;
}

.footer-link:hover {
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-style: normal;
  line-height: 24px;
}

.address__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address__part {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .ftr-social {
    margin-left: 70px;
  }
  .address {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .container:last-child {
    justify-content: unset;
  }
  .footer__div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .ftr-social {
    width: max-content;
    flex-wrap: nowrap;
  }
  .address {
    justify-content: left;
    align-items: flex-start;
  }
  .address__list {
    align-items: flex-start;
  }
}

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__name {
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__cap {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding: 15px 24px;
  text-decoration: none;
  color: inherit;
}

.portfolio__items {
  border: 1px solid #eeeeee;
  margin: 15px;
  flex-basis: calc(100% - 60px);
}

.portfolio__items:hover {
  border: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.portfolio__description {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.33;
  padding-left: 24px;
  transform: translatey(101%);
  transition: transform 250ms ease;
  overflow: hidden;
}

.portfolio__cap {
  padding-left: 24px;
}

.portfolio__span {
  color: var(--third-color);
  text-decoration: none;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__box:hover .portfolio__description {
  transform: translateY(0);
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .portfolio__link {
    width: 356px;
  }
  .portfolio__image {
    width: 352px !important;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */