:root {
  --main-font: "Roboto", serif;
  --second-font: "Raleway", serif;
  --first-color: #212121;
  --second-color: #2196f3;
  --third-color: #757575;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
}

* ::after ::before {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: inherit;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin: 0 auto;
}
/* ----------------Nav---------------- */
.nav {
  border-bottom: 1px solid #ececec;
}

.nav > .container {
  text-decoration: none;
  display: flex;
  height: 80px;
  align-items: center;
}
.logo-color,
.logo-color:visited,
.logo-color:hover {
  color: var(--second-color);
}

.logo,
.logo:visited,
.logo:hover {
  font-family: var(--second-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  color: var(--first-color);
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 346px;
}

.nav-list-item{
  position: relative;
}
.nav-link,
.nav-link:visited,
.nav-contacts {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}

.nav-list-item > .link-active[href]{
  color:var(--second-color);
  position: relative;
}

.nav-link,
.nav-link:visited {
  color: inherit;
}


.link-active::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--second-color);
  
}

.nav-link::after {
  position: absolute;
  bottom: -32px;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
}

.nav-link:hover::after{
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts {
  color: var(--third-color);
  fill: var(--third-color);
  padding: 25px;
}
.nav-link:hover,
.nav-contacts:hover
{
  color: var(--second-color);
  fill: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

svg{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  padding-right: 2px;
  padding-left: 300px;
  justify-content: space-between;
  align-items: baseline;
}

.icon {
  margin-right: 10px;
}

/* Main site - main objects */
 /* modal window */
.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  opacity: 1;
  /* animation-name: modal-window-anime;
  animation-duration: 2s;
  animation-timing-function: linear; */
  transition: opacity;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

.modal-window2 > .icon {
  z-index: 3;
  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
  border-style: solid;
  padding: 9px;
  position:absolute;
  margin:0;
  top: 8px;
  right: 8px;


}


.modal-window2 > .icon:hover{
  cursor: pointer;
}

.modal-window2 {
  position: relative;
  height: 528px;
  width: 581px;
}

.modal-window {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 528px;
  width: 581px;
  background-color: #ffffff;
  z-index: 2;
  border-radius: 4px;

  ;
}

.is-hidden {
  visibility:hidden;
  opacity: 0;
  pointer-events: none;

}

/* main header */

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  white-space: pre-line;
  color: #ffffff;
  text-align: center;
  background: var(--background-color);
  height: 600px;
  background-image: linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1600px;
  max-width: 1600px;
}

h1 {
  font-size: 44px;
  line-height: 136%;
  padding: 200px auto;
  letter-spacing: 0.06em;
}

.btn-order {
  background-color: var(--second-color);
  color: white;
  cursor: pointer;
  font-size: 16px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 42px;
  height: 50px;
  width: 200px;
  border: none;
  font-weight: 700px;
}
/* SECTION WITH FEATURES */
.feature {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -94px;
  list-style: none;
}

.feature-item {
  margin-top: 94px;
  margin-left: 15px;
  margin-right: 15px;
  flex-basis: calc(100% / 4 - 30px);
}

.feature-icon {
  fill: #212121;
}

.feature-icon-box {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  align-items: center;
  margin-bottom: 30px;
}
h3 {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.feature-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--third-color);
}

/* SECTION JOB */

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166px;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 50px;
}
.job-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.job-item {
  margin-top: 94px;
  margin-left: 15px;
  flex-basis: calc(100% / 3 - 15px);
  position:relative;
  height: 294px;
  width: 370px;
}

.job-description {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: inherit;
  margin: 0 auto;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-transform: uppercase;

  ;

}

/* SECTION TEAM */

.team-list {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
}

.team {
  background-color: var(--second-background-color);
}

.team-item {
  margin: 15px;
}

.team-member > img {
  align-self: flex-start;
}
.team-member {
  background-color: white;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17em;
}

.team-member-about {
  box-sizing: border-box;
  text-align: center;
  padding: 0 0 30px 0;
  display: inline-flexbox;
}

.team-member-about-text {
  color: var(--third-color);
}

.team-social-link {
  padding: 12px;
  border-radius: 50%;
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.team-social-link:hover,
.team-social-link:focus {
  fill: #ffffff;
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-box {
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  padding: 16px 10px 0 10px;
}

/* SECTION CLIENTS */

.client-list {
  list-style: none;
  display: flex;
}
.client-img {
  box-sizing: border-box;
  width: 170px;
  height: 92px;
  border-width: 1px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  fill: #afb1b8;
}

.client-img:hover,
.client-img:focus {
  border-color: var(--second-color);
  fill: var(--second-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-svg {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* footer */

footer {
  background-color: var(--background-color);
  padding-bottom: 30px;
}

.footer-div {
  display: flex;
}

.logo-footer {
  color: white;
}

.footer > .logo {
  color: white;
}

address {
  color: white;
  font-style: normal;
  line-height: 24px;
}

.footer-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.714;
}
.footer-link:hover {
  color: var(--second-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  white-space: pre-line;
}
.social-footer {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-left: 70px;
  color: white;
}

.ftr-social-link {
  margin-top: 20px;
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: #ffffff;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.ftr-social-list {
  list-style: none;
  box-sizing: border-box;
  height: 44px;
  width: 44px;
  display: inline-block;
}

.ftr-social-link:hover {
  background-color: var(--second-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio - menu */

.select-menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.select-buttons {
  background-color: var(--second-background-color);
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 4px;
  margin-left: 4px;
  font-weight: 500;
  border-radius: 4px;
  border-style: none;
  margin-bottom: 35px;
}

.select-buttons:hover {
  background-color: var(--second-color);
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-property: background-color color box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

/* portfolio items */

.portfolio {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

h4.porfolio-items-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-items-cap {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  padding: 20px 24px;
  text-decoration: none;
  color: inherit;
}
.porfolio-items {
  border: 1px solid #eeeeee;
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
  
}
.porfolio-items-box {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.porfolio-items:hover {
  border: 1px solid rgba(238, 238, 238, 1);
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12); 
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.porfolio-items-box:hover .portfolio-item-hover {
  transform: translateY(0);
}


.portfolio-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  background-color:rgba(33, 150, 243, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 1.33;
  padding-left: 24px;
  transform: translatey(101%);
  transition: transform 250ms ease;
  overflow: hidden;
}

.portfolio-items-cap {
  padding-left: 24px;
}

.portoflio-item-descript {
  color: var(--third-color);
  text-decoration: none;
}

a.porfolio-link {
  text-decoration: none;
}

h4 {
  color: black;
}

@keyframes modal-window-anime {
  0% {
    opacity: 0;
    cursor:progress;
  }

  25% {
    opacity: .2;
    background-color: beige;
  

  }

  35% {
    opacity: .3;
    background-color: burlywood;
  }

  50% {
    opacity: .6;
    background-color: chocolate;
  }

  75% {
    opacity: .85;
    background-color: darkslategray;
  }

  100% {
    opacity: 1;
  }

  
}