.ftr-social {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: white;
  &__link {
    margin-top: 20px;
    display: flex;
    padding: 12px;
    border-radius: 50%;
    fill: #ffffff;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: var(--second-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__list {
    list-style: none;
    box-sizing: border-box;
    height: 44px;
    width: 44px;
    display: inline-block;
  }
}
.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  &-link {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.714;
    &:hover {
      color: var(--second-color);
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-style: normal;
  line-height: 24px;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__part {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .ftr-social {
    margin-left: 70px;
  }
  .address {
    display: flex;
    flex-direction: column;
  }
  
}

@media screen and (min-width: 1200px) {
  .container:last-child {
    justify-content: unset;
  }
  .footer__div {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
  }
.newsletter {
  white-space: normal;
  margin-left: 60px;
  &__input {
    width: 358px;
  }
}

  .newsletter__label {
    display: flex;
    padding: 0;
    width: 720px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
}