.client-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.client-img {
  box-sizing: border-box;
  height: 92px;
  width: calc(100vw / 2 - 47px);
  border-width: 1px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  fill: #afb1b8;
  &:hover,
  &:focus {
    border-color: var(--second-color);
    fill: var(--second-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client-svg {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px){
  .client-img {
    width: calc(100vw / 3 - 62px);
  }
}

@media screen and (min-width: 1200px) {
  .client-img {
    width: 170px;
  }
}