
@media screen and(min-width: 768px){
  .feature {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -94px;
    list-style: none;
    &__item {
      margin-top: 94px;
      margin-left: 15px;
      flex-basis: calc(100% / 2 - 30px);
      width: 270px;
    }}
}

@media screen and (min-width: 1200px){
.feature {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -94px;
  list-style: none;
  &__item {
    margin-top: 94px;
    margin-left: 15px;
    margin-right: 15px;
    flex-basis: calc(100% / 4 - 30px);
    width: 270px;
  }
  &__box {
    width: 270px;
    margin-top: 0;
  }
}}

.feature {
  justify-content: center;
  max-width: 100%;
  fill: #212121;
  &__box {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
    max-width: calc(100% - 30px);
  }
  &__description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--third-color);
  }
}
