.logo {
  &,
  &:hover,
  &:visited {
    font-family: var(--second-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    text-decoration: none;
    color: var(--first-color);
    margin-bottom: 10px;
  }
}
.logo__color {
  color: var(--second-color);
  &:visited,
  &:hover {
    color: var(--second-color);
  }
}

.logo__studio--footer {
  color: white;
}

.logo--footer {
  display: flex;
  justify-content: center;
}
