.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 60px;
    &__label {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__input {
      height: 50px;
      width: 86vw;
      background-color: inherit;
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 15px;
      border-radius: 4px;
      color: white;
      margin: 10px;
        }
      &-div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }}

@media screen and (min-width: 768px){
    .newsletter {
      &__input {
        width: 450px;
      }}
}
@media screen and (min-width: 1200px) {
  .newsletter {
    margin-top: 0px;
    width: fit-content;
    margin-left: 60px;
    &__input {
      width: 358px;
      display: flex;
      flex-direction: row;
    }
    &__label {
      display: unset;
      white-space: pre-line;
      flex-direction: unset;
    }
    &-div {
      display: flex;
      flex-direction: row;
    }

  }
  
}