:root {
    --main-font: "Roboto", serif;
    --second-font: "Raleway", serif;
    --first-color: #212121;
    --second-color: #2196f3;
    --third-color: #757575;
    --background-color: #2f303a;
    --second-background-color: #f5f4fa;
  }
  
  * ::after ::before {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }
  p {
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: var(--main-font);
    color: inherit;
  }
  ul {
      list-style: none;
  }
  svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    