.main {
    justify-content: center;
    font-weight: 900;
    text-transform: uppercase;
    white-space: pre-line;
    color: #ffffff;
    text-align: center;
    background: var(--background-color);
    height: 400px;
    background-image: linear-gradient(
        to left top,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4) ),
      url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .main {
    background-image:  linear-gradient(
      to left top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4) ),
      url(../images/background@2.jpg);
  }
}

  
@media screen and (min-width: 768px) {
  .main { max-width: 768px}

  }

@media screen and (min-width: 1200px) {
  .main { max-width: 1600px;
    height: 600px;
  }
    .section {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1600px;
    margin: 0 auto;
  }
  }

  @media screen and (max-width: 1200px){
  .no-mobile {
    display: none;
  }
    
  }

  .section {
    padding-top: 60px;
    justify-content: center;
    &--main {
      padding-top: 0;
    }
  }